{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load test_tags %}
<!DOCTYPE html>
{% block title %}Info{% endblock %}
{% block content %}
<h1 class="row justify-content-center p-4" xmlns="http://www.w3.org/1999/html">Info</h1>
<p class="row justify-content-center "> about </p>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Средняя цена:
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ****
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Количество в месяц
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                help
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                test
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                help
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                test
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                help
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Динамика цен по месяцам
                    </h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        CСтатистика по месяцам
                    </h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Month</th>
                                <th scope="col">Avg price</th>
                                <th scope="col">Quantity of cars</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for month in month_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ month }}</td>
                                <td>{{ price_list|get_one:forloop.counter}}</td>
                                <td>{{ quantity_list|get_one:forloop.counter}}</td>
                            </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center">
    <div class="col-6">
        <ul>
            {% for v in object_list %}
            <li>{{ v.link }} {{v.date_create.month}}</li>
            {% endfor %}
        </ul>
        <ul>
            {% if price_list %}
            <li>{{ price_list }}</li>
            {% endif %}

            {% if month_list %}
            <li>{{ month_list }}</li>
            {% endif %}

            {% if quantity_list %}
            <li>{{ quantity_list }}</li>
            {% endif %}
        </ul>
        <div class="chart-container" style="position: relative; height:400px; width:400px">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ month_list|safe }},
        datasets: [{
            label: 'Price',

            data: {{ price_list|safe }},

            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 5
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});






</script>
{% endblock %}